

<link rel="stylesheet" href="css/footer.css">


 


<footer>
    <div class="footer-container">

      
        <div class="footer-social">
            <a href="#"> <i class="fa-brands fa-discord"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
        
        </div>
     
      <div class="footer-bottom">
        <p>
          Quick Links:
          <a href="#">Contact Us</a> |
          <a href="#">About ezgamingworld</a> |
          <a href="#">Purpose & Features</a> |
          <a href="#">Advertise With Us</a> |
          <a href="#">Privacy Policy</a> |
          <a href="#">Terms of Use</a> |
          <a href="#">FAQ</a>
        </p>
      </div>

      <p class="rights">&copy; ezgamingworld.com. All rights reserved.</p>
    </div>
  </footer>