<header class="header">
    <div class="header-content">
      <div class="logo">
        <a href="#">ezgamingworld.com</a>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Feed</a></li>
          <li><a href="#">Tournaments</a></li>
          <li><a href="#">Spaces</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
      <div class="hamburger-menu">
        <div class="bar"></div>
      </div>
    </div>
    <div class="responsive-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </header>