
    <link rel="stylesheet" href="css/header.css">

    <header>
     <div class="common-nav">
          <div class="logo">
              <a href="/">My Gaming Site</a>
          </div>
          <input type="text" placeholder="Search">
          <!-- menue and show toggle by js -->
          <ul class="common-menu"> 
              <li><a href="/">Home</a></li>
              <li><a href="/games">Games</a></li>
              <li><a href="/feeds">Feeds</a></li>
              <li><a href="/space">Space</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="dropdown-menu">
              <span></span>
              <span></span>
              <span></span>
          </div>
        </div>
  </header>
  

  <script src="js/header.js"></script>
 
