
<link rel="stylesheet" href="/css/home.css">




<section class="home-slider">
    <div class="slider-container">
        <div class="card" id="card1">
          <img src="https://esportsgen.com/wp-content/uploads/2022/07/battle-royale-games-900x506-1.jpg" alt="Image 1">
    
        </div>
        <div class="card" id="card2">
          <img src="https://www.insidesport.in/wp-content/uploads/2023/05/bgmi-BANNER.jpg" alt="Image 2">
    
        </div>
    
        <div class="card" id="card1">
          <img src="https://onecms-res.cloudinary.com/image/upload/s--w5QuWc5w--/c_crop,h_843,w_1500,x_0,y_34/f_auto,q_auto/c_fill,g_auto,h_676,w_1200/v1/mediacorp/cna/image/2022/06/11/the_big_read.jpg?itok=n8ndjQvw" alt="Image 3">
         
        </div>
        <div class="card" id="card2">
          <img src="https://staticg.sportskeeda.com/editor/2022/05/d69f5-16516912771477-1920.jpg?w=840" alt="Image 4">
        
        </div>
        <!-- Add more cards as needed -->
      </div>
      <div class="controls">
        <button class="prev-btn" onclick="showCard(-1)"  style='font-size:24px' > <i class='fas fa-angle-left'></i>  </button>
        <button class="next-btn" onclick="showCard(1)"     style='font-size:24px'>	<i class='fas fa-angle-right'></i></button>
      </div> <div class="slider-container">
        <div class="card" id="card1">
          <img src="https://esportsgen.com/wp-content/uploads/2022/07/battle-royale-games-900x506-1.jpg" alt="Image 1">
    
        </div>
        <div class="card" id="card2">
          <img src="https://www.insidesport.in/wp-content/uploads/2023/05/bgmi-BANNER.jpg" alt="Image 2">
    
        </div>
    
        <div class="card" id="card1">
          <img src="https://onecms-res.cloudinary.com/image/upload/s--w5QuWc5w--/c_crop,h_843,w_1500,x_0,y_34/f_auto,q_auto/c_fill,g_auto,h_676,w_1200/v1/mediacorp/cna/image/2022/06/11/the_big_read.jpg?itok=n8ndjQvw" alt="Image 3">
         
        </div>
        <div class="card" id="card2">
          <img src="https://staticg.sportskeeda.com/editor/2022/05/d69f5-16516912771477-1920.jpg?w=840" alt="Image 4">
        
        </div>
        <!-- Add more cards as needed -->
      </div>
      <div class="controls">
        <button class="prev-btn" onclick="showCard(-1)"  style='font-size:24px' > <i class='fas fa-angle-left'></i>  </button>
        <button class="next-btn" onclick="showCard(1)"     style='font-size:24px'>	<i class='fas fa-angle-right'></i></button>
      </div>
</section>


<section class="hero">
  <div class="hero-content">
      <h1>Welcome to EZ Gaming World</h1>
      <p>Get ready to embark on thrilling gaming adventures!</p>
      <a href="#" class="cta-button">Join Now</a>
  </div>
</section>




<section class="featured-games">

  <h2>Featured Games</h2>

    <div class="container">
        <div class="game-card">
            <img src="https://media.battlexo.com/games/3/image/53a41947-e0a3-453f-9e96-ccd27fb71f67.webp" alt="Game 1">
            <h3>Game Title 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Play Now</a>
        </div>

        <div class="game-card">
            <img src="https://media.battlexo.com/games/2/image/bef9d933-81f5-4029-86c7-49d62be9ebd4.webp" alt="Game 2">
            <h3>Game Title 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Play Now</a>
        </div>

        <div class="game-card">
            <img src="https://media.battlexo.com/games/4/image/c21f2b45-d008-47c9-ad9b-93efae7b6971.webp" alt="Game 3">
            <h3>Game Title 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#">Play Now</a>
        </div>
    </div>
</section>


<section class="latest-feed">
  <h2>Latest Feed</h2>
  <div class="feed-container">
    <div class="feed-item">
      <!-- <span class="feed-number">1</span> -->
      <div class="feed-content">
        <h3>Exciting Game Update!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ipsum at lectus pretium dignissim. Mauris non facilisis est. Sed hendrerit dui eu consectetur vulputate.</p>
        <button class="feed-read-more-btn">Read More</button>
      </div>
    </div>

    <div class="feed-item">
      <!-- <span class="feed-number">2</span> -->
      <div class="feed-content">
        <h3>New Multiplayer Game Released</h3>
        <p>Phasellus ullamcorper ligula eu nisl faucibus, vel tincidunt metus pellentesque.</p>
        <button class="feed-read-more-btn">Read More</button>
      </div>
    </div>

    <div class="feed-item">
      <!-- <span class="feed-number">3</span> -->
      <div class="feed-content">
        <h3>New BGMI Tournament Announced</h3>
        <p>Phasellus ullamcorper ligula eu nisl faucibus, vel tincidunt metus pellentesque.</p>
        <button class="feed-read-more-btn">Read More</button>
      </div>
    </div>
  </div>
</section>




<section class="upcoming-tournaments">
  <h2>Upcoming Tournaments</h2>
    <div class="tournament-container">

        <div class="tournament-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7xoxPrO-QmC1utW6dlNbU_2kTXrhjLvruXw&usqp=CAU" alt="Tournament 1">
            <h3>Tournament Event 1</h3>
            <p>Start Date: August 22, 2023</p>
            <p><span>mode:solo</span> <span> slots:200</span></p>
          
        </div>

        <div class="tournament-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvDWH-y7RuChTHAndZ5gsnujFs68YolJcF1g&usqp=CAU" alt="Tournament 2">
            <h3>Tournament Event 2</h3>
            <p>Start Date: August 22, 2023</p>
            <p><span>mode:solo</span> <span> slots:200</span></p>
           
        </div>

        <div class="tournament-card">
          <img src="https://img.jagrantv.com/entertainment/War-Of-Glory.jpg" alt="Tournament 1">
          <h3>Tournament Event 3</h3>
          <p>Start Date: August 22, 2023</p>
          <p><span>mode:solo</span> <span> slots:200</span></p>
       
      </div>

      <div class="tournament-card">
          <img src="https://i0.wp.com/thebusinessofesports.com/wp-content/uploads/2022/03/89c40-16420191249309-1920.jpg?resize=800%2C450&ssl=1" alt="Tournament 2">
          <h3>Tournament Event 4</h3>
          <p>Start Date: August 22, 2023</p>
          <p><span>mode:solo</span> <span> slots:200</span></p>
      </div>
      <a href="#">Learn More</a>
    </div>
</section>

<section class="gaming-articles">
  <h2>Popular articles</h2>
    <div class="article-container">
        <div class="article-card">
            <img src="https://assets.mspimages.in/gear/wp-content/uploads/2021/07/BGMI-name.jpg" alt="Gaming Space 1">
            <h3>Battlegrounds Mobile India (BGMI)</h3>
            <p>Battlegrounds Mobile India (BGMI) has steadily gotten better during the time PUBG Mobile was banned in India.</p>
        </div>
        <div class="article-card">
            <img src="https://assets.mspimages.in/gear/wp-content/uploads/2023/06/bgmi-sensitivity.png" alt="Gaming Space 2">
            <h3>BGMI Sensitivity Settings</h3>
            <p>Here are some of the best BGMI senstivity settings that you can try to get the best gameplay experience!</p>
        </div>

        <div class="article-card">
          <img src="https://assets.mspimages.in/gear/wp-content/uploads/2021/04/Free-Fire-Pet-names.jpg" alt="Gaming Space 2">
          <h3>Free Fire Max Pet Name List</h3>
          <p>If you’re the one who is hunting for some cool names for your pets then you’re at the right place. Here's the list of best pet name.</p>
      </div>

    </div>

</section>

<section class="contact">
  <h2>Contact Us</h2>
    <div class="contact-container">
    
        <p>If you have any questions or inquiries, feel free to get in touch with us!</p>
        <form class="contact-form">
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>

<script src="js/home.js"></script>

    
