<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
    <form action="/tournament" method="POST">
<input type="text" name="name" placeholder="tournament name">
<input type="text" name="img" placeholder="image-url">
<input type="text" name="game" placeholder="type of game">
<input type="Number" name="totalslots" placeholder="totalslots">
<input type="Number" name="player" placeholder="solo/duo/squad">
<input type="Number" name="filledslots" placeholder="filled slots">
<button type="submit"> submit</button>
</form>

</body>
</html>