


/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.common-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* Search input styles */
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Menu styles */
.common-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.common-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.common-menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none;
}

.dropdown-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px;
    background-color: #fff;
    cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .common-menu {
        display: none;
    }

    .common-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
    }

    .common-menu.show li {
        padding: 10px;
    }

    .dropdown-menu {
        display: block;
        cursor: pointer;
    }
}


















/* footer styles */




  